<main class="mt-5">
    <div class="container">
        <!--Section: Examples-->
        <hr class="my-5">
<section id="contact">
                <!-- Heading -->
                <h2 class="mb-5 font-weight-bold text-center">Contact us</h2>
                <!--Grid row-->
                <div class="row text-center">
                    <!--Grid column-->
                    <div class="col-lg-5 col-md-12">
                            <!--Grid column-->
			<!-- Form contact -->
<%= simple_form_for(@contact, html: { class: 'form' }) do |form| %>
<%= form.error_notification %>
<div class="md-form form-sm"> <i class="fa fa-user prefix grey-text"></i>
<%= form.input_field :name, placeholder: 'Name', autofocus: true, input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form3' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-envelope prefix grey-text"></i>
<%= form.input_field :email, placeholder: 'Email', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form4' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-phone prefix grey-text"></i>
<%= form.input_field :phone, placeholder: 'Phone', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form5' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-home prefix grey-text"></i>
<%= form.input_field :address, placeholder: 'Address', input_html: { class: 'form-control form-control-sm', type: 'text', id: 'form6' } %>
</div>
<div class="md-form form-sm"> <i class="fa fa-file-text-o prefix grey-text"></i>
<%= form.input_field :message, as: :text, placeholder: 'Message', input_html: { class: "md-textarea form-control form-control-sm", type: 'text',rows:"4", id: 'form7' } %>
</div>
<%= form.button :submit, "Send", class: 'btn btn-primary' %>
<% end %>
                        <!-- Form contact -->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-7 col-md-12">
                        <!--Grid row-->
                        <div class="row text-center">
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-12 mb-3">
                                <p>
                                    <i class="fa fa-map fa-1x mr-2 grey-text"></i> 433 New Laredo Hwy.
San Antonio, TX 78211 </p>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-3">
                                <p>
                                    <i class="fa fa-building fa-1x mr-2 grey-text"></i>
M-F:
    8:00 am - 5:30 pm 
Sat:
    Closed <br>
Sun:
    Closed
</p>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-3">
                                <p>
                                    <i class="fa fa-phone fa-1x mr-2 grey-text"></i>Tel: 210-923-4571 <br>
Toll-Free: 1-800-929-5103</p>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Google map-->
                        <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
        </div>
            </main>
